<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
     Remove this if you use the .htaccess -->
<meta http-equiv="X-UA-Compatible" content="{{ resource.meta.compatibility }}">
<!-- encoding must be specified within the first 512 bytes
      www.whatwg.org/specs/web-apps/current-work/multipage/semantics.html#charset -->

<!-- meta element for compatibility mode needs to be before
      all elements except title & meta
      msdn.microsoft.com/en-us/library/cc288325(VS.85).aspx -->
<!-- Chrome Frame is only invoked if meta element for
      compatibility mode is within the first 1K bytes
      code.google.com/p/chromium/issues/detail?id=23003 -->
<title>{{ resource.meta.title }}</title>
<meta name="description" content="{{ resource.meta.description }}">
<meta name="author" content="{{ resource.meta.author }}">
<!--  Mobile viewport optimized: j.mp/bplateviewport -->
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<!-- Place favicon.ico in the root of your domain and delete these references -->
<link rel="shortcut icon" href="{{ media_url('/favicon.ico') }}">
<link rel="alternate" href="{{ content_url( resource.meta.language + '/atom.xml') }}" type="application/atom+xml" title="ATOM feed">
<link rel="stylesheet" href="{{ media_url('css/lorem.css') }}">
<link rel="stylesheet" href="{{ media_url('css/luffy.css') }}">
<link rel='stylesheet' href='//fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic,800,800italic|Inconsolata|Source+Code+Pro|Droid+Sans+Mono|Noticia+Text:400,400italic&effect=3d' type='text/css'>
<!-- All JavaScript at the bottom, except for Modernizr which
      enables HTML5 elements & feature detects -->
<script src="{{ media_url('js/mp.js') }}"></script>
</head>
<body>
{% include "menu.j2" %}

  <div class="main-wrap">
    <div class="container" id="main">
    <div class="row">
      {#<!-- Left Column -->#} 
      <div class="right-span">
        <div class="rightcolumn">
          {% block sidebarL %}
            <br>
          {% endblock sidebarL %}
        </div>
      </div>
    {# Pages -#}
    <div id="lf-pages" class="left-span">
      <div id="lf-page-1"></div>
      <div id="lf-page-2"></div>
      <div id="lf-page">
        <article>
        <header>
        <h1>{{resource.meta.title|typogrify|e}}</h1>
        {%- if resource.meta.author != None -%}
        <h2>{{resource.meta.author|e}}</h2>
        {%- endif -%}
        {% from "macros.j2" import resource_date with context -%}
        {{ resource_date(resource) }}
        </header>
        {% block main -%}
        <div id="lf-main" role="main">
          {% filter markdown|typogrify -%}
          {% mark post -%}{% block post -%}{%- endblock %}{%- endmark %}
          {%- endfilter %}
        </div>
        {%- endblock %}
        <div class="article-footer">
        {% from "macros.j2" import list_post_tags with context -%}
        {{ list_post_tags(resource.meta.language) }}
        {% from "macros.j2" import social_share_mark with context -%}
        {{ social_share_mark() }}
        </div>
        </article>
        {%- include "comments.j2" %}

      </div>
    </div>
    </div>
    </div>
  </div>
  <footer id="site-info">
    <div class="si-wrap">
      <div class="si-section-1">
          <ul>
            <li>Generated By <a href="{{ resource.meta.GeneratorUrl }}">{{ resource.meta.Generator }}</a></li>
            <li>Things <a href="https://github.com/kayw/kayw.github.com/#kaywgithubcom">Borrowed</a> </li>
          </ul>
      </div>
      <div class="si-section-3">
        <p class="pull-right"><!--<a rel="license" href="http://creativecommons.org/licenses/by/3.0/"><img alt="Creative Commons License" style="border-width:0" src="{{ media_url('images/88x31.png') }}"></a>--><span class="cc-by-style entypo-cc-by"></span><br />All work on this site is licensed under a<br>
      <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0<br> Unported License</a></p>
      </div>
      <div class="si-section-2">
          <li><a href="https://twitter.com/kayw0904">@kayw</a></li>
          <li><a href="https://github.com/kayw">Repos</a></li>
          <li><span class="codedirection">moc.kooltuo@wyak</span></li>
<script type="text/javascript" language="javascript">
<!--
// http://stackoverflow.com/questions/748780/best-way-to-obfuscate-an-e-mail-address-on-a-website
// Email obfuscator script 2.1 by Tim Williams, University of Arizona
// Random encryption key feature by Andrew Moulden, Site Engineering Ltd
// This code is freeware provided these four comment lines remain intact
// A wizard to generate this code is at http://www.jottings.com/obfuscator/
{ coded = "R2Yy@d8BqddR.sde"
  key = "WZJiGrVnxNR3jlXy4tQoPgMh7F51uqvYbBmdE0SaOTcp8UCf6HeILK92kDsAzw"
  shift=coded.length
  link=""
  for (i=0; i<coded.length; i++) {
    if (key.indexOf(coded.charAt(i))==-1) {
      ltr = coded.charAt(i)
      link += (ltr)
    }
    else {     
      ltr = (key.indexOf(coded.charAt(i))-shift+key.length) % key.length
      link += (key.charAt(ltr))
    }
  }
document.write("<li><a href='mailto:"+link+"'class = \"zocial-email zocial-email email-style\"></a></li>")
}
//-->
</script>
      </div>
    </div>
  </footer>
  <!-- Javascript at the bottom for fast page loading -->
  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="{{ media_url('js/libs/jquery-1.8.3.min.js') }}">\x3C/script>')</script>
  <script src="{{ media_url('js/luffy.js') }}" async></script>
  <script src="{{ media_url('js/lorem.js') }}" async></script>
  <!--[if lt IE 7 ]>
    <script src="js/libs/dd_belatedpng.js"></script>
    <script>DD_belatedPNG.fix('img, .png_bg'); // Fix any <img> or .png_bg bg-images. Also, please read goo.gl/mZiyb </script>
  <![endif]-->
  {%- include "analytics.j2" -%}
  <noscript><div id="noscript-warning">This blog work best with Javascript enabled</div><noscript>
</body>
</html>
