{% macro render_navbar(menu) -%}
{% if menu -%}
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
            <a class="brand">Solitary</a>
              <ul class="nav">
        	{% for item in menu -%}
		{% if item.type -%}
		   {% set cls = 'active' if item.active -%}
		   {% if cls -%}
                	<li class= {{ cls }}><a href= {{ content_url(item.url) }}>{{ item.name }}</a></li>
		   {% else -%}
                	<li class= {{ cls }}><a href= {{ content_url(item.url) }}>{{ item.name }}</a></li>
	           {%- endif %}
		{% else -%}
                <li class="divider-vertical"></li>
		{%- endif %}
		{%- endfor %}
              </ul>
          </div>
        </div>
    </div>
{%- endif %}
{%- endmacro %}

{# List blog posts pertaining to a given language #}
{% macro list_posts(lang) %}
<ul class="lf-list-titles">
{% set sort = site.content|attr("walk_resources_sorted_by_time_" + lang)() %}
{% for resource in sort 
	if resource.name not in site.config.urlcleaner['index_file_names'] -%}
  <li>
<a href="{{ content_url(resource.url) }}" class="lf-title">{{ resource.meta.title|e }}</a>
{{ resource_date(resource) }}
    {% if resource.tags %}
    <div class="lf-tags">
      {% for tag in resource.tags|sort %}
      <span class="lf-sprite-tag"></span>
      <a class="lf-tag" href="#tag-{{ tag }}">
	{{ tag|e }}
      </a>
      {% endfor %}
    </div>
    {% endif %}
</li>
{% endfor %}
</ul>
{% endmacro %}

{# Display all blog tags attched to language #}
{% macro list_tags(lang) %}
<div class="lf-list-tags">
{% set tag_resources_map = {} %}
{% for resource in site.content|attr("walk_resources_sorted_by_time_" + lang)() -%}
    {% for tag in resource.tags %}
	{# http://www.daniweb.com/software-development/python/threads/172862/using-a-list-as-values-in-a-dictionary #}
	{% do tag_resources_map.setdefault(tag, []).append(resource) %}
    {% endfor %}
{%- endfor %}
{# http://stackoverflow.com/questions/5466618/too-many-values-to-unpack-iterating-over-a-dict-key-string-value-list #}
{% for tag, resources in tag_resources_map.iteritems() -%}
{% if resources %}
<div class="lf-tag" id="tag-{{tag}}">
  <div class="lf-one-tag">
    <span class="lf-sprite-tag"></span>
     {{ tag|e }}
  </div>
  <ul class="lf-list-titles">
    {% for resource in resources %}
    <li><a href="{{ content_url(resource.url) }}" class="lf-title">{{ resource.meta.title }}</a></li>
    {% endfor %}
  </ul>
</div>
{% endif %}
{% endfor %}
</div>
{% endmacro %}

{# Display date of the resource #}
{% macro resource_date(resource) %}
{% if resource.meta.created != None %}
<time class="timeago"
      datetime="{{ resource.meta.created|xmldatetime }}"
      pubdate>
  <abbr class="published updated" title="{{ resource.meta.created|xmldatetime }}">{{ resource.meta.created.strftime('%B %d, %Y') }}</abbr>
</time>
{% endif %}
{% endmacro %}

{% macro list_post_tags(lang) %}
{% if resource.tags %}
<div class="lorem-post-tags">
  <strong>{{ resource.meta.l10n.tags }}</strong>: 
{% for tag in resource.tags|sort %}
     <a href="{{ content_url(resource.meta.language) }}#tag-{{ tag }}">
	    {{ tag|e }}
     </a>
{% endfor %}
</div>
{% endif %}
{% endmacro %}

{# http://cssdeck.com/labs/css-social-share-button #}
{# Display share links for commentable articles #}
{% macro social_share_mark() %}
{% if resource.meta.comments -%}
<div id="social-share">
  <span id="social-button" class="entypo-share"></span> 
  <span class="social-sites">
    {% set url = base|urlencode + content_url(resource.url)|urlencode -%}
    <a href="https://twitter.com/share?url={{url}}" class="site-static zocial-twitter" title="Share To Twitter"></a>
    <a href="http://news.ycombinator.com/submitlink?u={{url}}" class="site-static zocial-yahoo" title="Share To YCombinator"></a>
    <a href="http://www.reddit.com/submit?url={{url}}" class="site-static zocial-reddit" title="Share To Reddit"></a>
    <a href="https://plus.google.com/share?url={{url}}" class="site-static zocial-googleplus" title="Share To Google+"></a>
    <a href="http://www.facebook.com/sharer.php?u={{url}}" class="site-static zocial-facebook" title="Share To Facebook"></a>>
  </span>
</div>
{%- endif %}
{% endmacro %}

{# Display a photo gallery; directory may be a directory or a prefix #}
{% macro gallery(directory,description) %}
<div class="lf-gallery">
{% for image in site.content.walk_resources_sorted_by_name()
   if image.source_file.kind in ("jpg","png") and
   (image.name.startswith(directory) or image.source_file.parent.name == directory) %}
{% set thumb = image.thumb(height=150) %}
<a href="{{ media_url(image.get_relative_deploy_path()[6:]) }}"><img src="{{ media_url(('%s' % thumb)[6:]) }}" height="{{ thumb.height }}" width="{{ thumb.width }}" alt="{{ description|e }}"></a>
{% endfor %}
</div>
{% endmacro %}

{% macro listing(directory) %}
<ul class="lf-listing">
{% for archive in site.content.walk_resources_sorted_by_name()
   if archive.source_file.parent.path.endswith("/media/" + directory) %}
<li>
  <img class="lf-filetype"
       src="{{ media_url("images/ext--" + archive.source_file.kind + ".png") }}"
       alt="{{ "[" + archive.source_file.kind + "]" }}">
  <a href="{{ media_url(archive.get_relative_deploy_path()[6:]) }}">{{ archive.name }}</a>
</li>
{% endfor %}
</ul><div style="clear: both"></div>
{% endmacro %}
