{# -*- html -*- #}
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <ul class="nav">
{% for menu in resource.meta.menu %}
          <li{% if content_url(resource.url).startswith(content_url(menu['page'])) %} class="active"{% endif %}><a href="{{ content_url(menu['page']) }}">{{ menu['name']|e }}</a></li>
{% endfor %}

      	</ul>
      </div>
    </div>
  </div>
