{# -*- html -*- #}
  <nav id="lf-links">
    {#- Translations -#}
    <div class="lf-link">
      <a href="#" class="lf-sprite-flag lf-link-icon"
         title="{{ resource.meta.l10n.translations|e }}"></a>
      <div class="lf-link-details"><div class="lf-link-inner">
        <i class="lf-sprite-arrow-left"></i>
        <p>{{ resource.meta.l10n.translations|e }}</p>
        {% if resource.translations -%}
          {% for translation in resource.translations -%}
        <ul>
          <li><a href="{{ content_url(translation.url) }}">{{ languages[translation.meta.language] }}</a></li>
        </ul>
          {%- endfor -%}
        {%- else -%}
          {% for langs in languages -%}
          {% set lang = langs[0] -%}
          {% if lang != resource.meta.language -%}
        <ul>
          <li><a href = "{{ content_url(lang) }}">{{ languages[lang] }}</a></li>
        </ul>
          {%- endif %}
          {%- endfor -%}
        {%- endif %}

      </div></div>
    </div>
    {# Attachments -#}
    {% if resource.meta.attachments -%}
    <div class="lf-link">
      <a href="#" class="lf-sprite-attachment lf-link-icon"
         title="{{ resource.meta.l10n.attachments|e }}"></a>
      <div class="lf-link-details"><div class="lf-link-inner">
        <i class="lf-sprite-arrow-left"></i>
        <p>{{ resource.meta.l10n.attachments|e }}</p>
        <ul>
          {% for file, description in resource.meta.attachments -%}
          {% if file.startswith('http://') or file.startswith('https://') -%}
          <li><a href="{{ file }}">{{ description|e }}</a></li>
          {%- else %}
          <li><a href="{{ media_url('files/' + file) }}">{{ description|e }}</a></li>
          {%- endif %}
          {%- endfor -%}
        </ul>
      </div></div>
    </div>
    {%- endif -%}
    {# Share -#}
    {% if resource.meta.share -%}
    <div class="lf-link">
      <a href="#" class="lf-sprite-share lf-link-icon"
         title="{{ resource.meta.l10n.share }}"></a>
      <div class="lf-link-details"><div class="lf-link-inner">
        <i class="lf-sprite-arrow-left"></i>
        <p>{{ resource.meta.l10n.share }}</p>
        <ul>
          {%- set url = base|urlencode + content_url(resource.url)|urlencode -%}
          <li><a href="https://twitter.com/share?url={{url}}">Twitter</a></li>
          <li><a href="https://plus.google.com/share?url={{url}}">Google+</a></li>
          <li><a href="http://www.reddit.com/submit?url={{url}}">reddit</a></li>
          <li><a href="http://news.ycombinator.com/submitlink?u={{url}}">Hacker News</a></li>
        </ul>
      </div></div>
    </div>
    {%- endif %}

  </nav>
